
@{
    ViewBag.Title = "Packages";
    Layout = "~/Views/Shared/AnabiaOnline_layout.cshtml";
}
<style>

    

    .btncolor {
        background-color: #b923ff;
        border-radius: 55555px;
        padding: 1rem 2rem !important;
        color: #ffff;
        margin-bottom: 2rem;
    }


    .package {
        list-style-type: none;
    }

    .pricing {
        padding-left: 1.5rem;
    }

    .parent {
        height: 300px;
        display: flex;
        border: 2px solid yellow;
    }

    .child {
        background-color: red;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        color: white;
    }

    .icon-color {
        color: #1f38fa;
    }
</style>
<div class="container mt-5">
    <div class="row">


        <div class="col-lg-4 col-md-6 mb-3">
            <div class="card py-4 px-lg-5 ">
                <div class="card-body d-flex flex-column">
                  

                    <div class="card-title mb-4 text-center fs-2">Silver Package</div>
                    <div class="pricing">
                        <ul class="list-unstyled">
                            <li class="mb-3">
                                <i class="fas fa-check-circle icon-color"></i>
                                <span class="small ms-3">3 Category</span>
                            </li>
                            <li class="mb-3">
                                <i class="fas fa-check-circle icon-color"></i>
                                <span class="small ms-3">Available Storage 100GB</span>
                            </li>
                        </ul>


                    </div>
               
                    <div class="text-center">
                        <a href="~/SuperAdmin/Stores">
                            <button type="button" class="btn btn-primary">Choose Plan</button>
                        </a>
                    </div>

                </div>
            </div>

        </div>


        <div class="col-lg-4 col-md-6 mb-3">
            <div class="card py-4 px-lg-5 ">
                <div class="card-body d-flex flex-column">


                    <div class="card-title mb-4 text-center fs-2">Gold  Package</div>
                    <div class="pricing">
                        <ul class="list-unstyled">
                            <li class="mb-3">
                                <i class="fas fa-check-circle icon-color"></i>
                                <span class="small ms-3">5 Category</span>
                            </li>
                            <li class="mb-3">
                                <i class="fas fa-check-circle icon-color"></i>
                                <span class="small ms-3">Available Storage 500GB</span>
                            </li>
                            <li class="mb-3">
                                <i class="fas fa-check-circle icon-color"></i>
                                <span class="small ms-3">Free Hosting</span>
                            </li>
                        </ul>


                    </div>
              
                    <div class="text-center">
                        <a href="~/SuperAdmin/Stores">
                            <button type="button" class="btn btn-primary">Choose Plan</button>
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-3">
            <div class="card py-4 px-lg-5 ">
                <div class="card-body d-flex flex-column">


                    <div class="card-title mb-4 text-center fs-2">Platinum  Package</div>
                    <div class="pricing">
                        <ul class="list-unstyled">
                            <li class="mb-3">
                                <i class="fas fa-check-circle icon-color"></i>
                                <span class="small ms-3">Unlimited Category</span>
                            </li>
                            <li class="mb-3">
                                <i class="fas fa-check-circle icon-color"></i>
                                <span class="small ms-3">Available Storage 2TB</span>
                            </li>
                            <li class="mb-3">
                                <i class="fas fa-check-circle icon-color"></i>
                                <span class="small ms-3">Free Hosting</span>
                            </li>
                            <li class="mb-3">
                                <i class="fas fa-check-circle icon-color"></i>
                                <span class="small ms-3">Free Domains</span>
                            </li>
                        </ul>


                    </div>
                    

                    <div class="text-center">
                        <a href="~/SuperAdmin/Stores">
                            <button type="button" class="btn btn-primary">Choose Plan</button>
                        </a>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>